# Python environment
venv/

# Logs and data files
*.log
*.json
*.parquet

# Dat and DB Directories
data/ 
db/

# Other
test/
analysis/
__pycache__/
**/__pycache__/

# Config (API key)
config/credentials.py
